@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 338 100% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 338 60% 91%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 338 60% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 338 86% 61.2%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 338 60% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 338 60% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 286 21.4% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 338 60% 86%;
    --input: 338 60% 86%;
    --ring: 338 86% 61.2%;
    --chart-1: 338 86% 61.2%;
    --chart-2: 286 21.4% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 338 100% 98%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 338 86% 61.2%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 338 60% 91%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 338 60% 86%;
    --sidebar-ring: 338 86% 61.2%;
  }
  .dark {
    --background: 286 25% 10%;
    --foreground: 286 5% 95%;
    --card: 286 25% 15%;
    --card-foreground: 286 5% 95%;
    --popover: 286 25% 15%;
    --popover-foreground: 286 5% 95%;
    --primary: 338 86% 61.2%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 286 25% 20%;
    --secondary-foreground: 286 5% 95%;
    --muted: 286 25% 20%;
    --muted-foreground: 286 5% 65%;
    --accent: 286 21.4% 52%;
    --accent-foreground: 286 5% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 286 25% 25%;
    --input: 286 25% 25%;
    --ring: 338 86% 61.2%;
    --chart-1: 338 86% 61.2%;
    --chart-2: 286 21.4% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 286 25% 12%;
    --sidebar-foreground: 286 5% 95%;
    --sidebar-primary: 338 86% 61.2%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 286 25% 20%;
    --sidebar-accent-foreground: 286 5% 95%;
    --sidebar-border: 286 25% 25%;
    --sidebar-ring: 338 86% 61.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
